:root {
    --dark: #0f589c;
    --light: rgba(255, 255, 255, 0.753);
    --navlink-color: #e96138;
  }

body {
    /* display: flex;
    flex-direction: column; */
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    background-color: var(--dark);
    color: var(--light);
    width: 100%;
    margin: 0 auto;
}

#leftSide {
  display: flex;
  justify-content: space-between;
}

#decBox {
  border: 3px solid #e96138;
}

h1 {
  font-size: 200%;
  margin: 0 0 0 10px;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
  background-color: var(--navlink-color);
}

a[href*='.css']::after {
  display: inline-block;
  margin-left: 3px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  background-color: var(--dark);
  color: var(--navlink-color);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: var(--light);
}

div {
  margin: 2%;
}

.sectionBox {
  display: flex;
  margin: 1%;
  padding: 1%;
  justify-content:space-around;
}

#profile-pic, #game-pic {
  width: 250px;
  height: auto;
}

#website1, #website2 {
  width: 175px;
  height: auto;
}

.card1 {
  display: flex;
  flex-direction: column;
}

.card2, .subCard {
  display: flex;
  flex-direction: column;

}



@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 100%;
    }
  }
  